body {
  margin: 0;
  padding: 0;
  background: rgb(81, 65, 65);
  background: url("back.jpg");
  background-repeat:no-repeat;
  background-size: 2000px 1000px;
  font-family: sans-serif;
  /* 전체 */
}

.input-container{
  position: relative;
}
.input-container label {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.2s;
}
.input-container span {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: transparent;
  font-size: 0.8rem;
  pointer-events: none;
  z-index: 500;
}
.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 30%;
  opacity: 0;
  transition: .2s;
  height: 10px;
  background-color: #000000;
  top: 50%;
  transform: translateY(-50%);
}
.input-container span::before {
  left: 50%;
}
.input-container span::after {
  right: 50%;
}
.input-container.focus label {
  top:0;
  transform: translateY(-50%);
  left: 15px;
  font-size: 0.8rem;
}
.input-container.focus span::after,
.input-container.focus span::before {
  width: 50%;
  opacity: 1;
}


.signupbox {
  width: 360px;
  height: 550;
  background: rgba(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  /* 로그인 박스 */
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 26px;
  font-family: "arial", Georgia, serif;
  /* login 글자 */
}
.signupbox p,
label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
  font-family: "arial", Georgia, serif;
  text-align: left;
  /* 체크박스 글씨 */
}
.signupbox input {
  width: 100%;
  margin-bottom: 10px;
  /* 체크박스 주변 크기 */
}
.signupbox input[type="text"],
[type="password"]
{
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  outline: none;
  height: 30px;
  color: rgb(244, 137, 137);
  border-radius: 10px;
  text-align: left;
  /* 아이디 패스워드 입력란 */
}
.signupbox input[type="checkbox"] {
  width: 10px;
  height: 20px;
  color: rgb(255, 149, 149);
  text-align: right;
  /* 체크박스 */
}
.signupbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #f8dd44;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  font-family: "Times New Roman", Georgia, serif;
  /* sign in 박스 */
}
.signupbox input[type="submit"]:hover {
  cursor: pointer;
  background: #5e4700;
  color: #000;
  /* sign in hover */
}

/* 회원가입 버튼 */
.signupbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 8px;
  color: darkgray;
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  display: block;
}
.signupbox a:hover {
  color: #ec0d0d;
}
