body {
  margin: 0;
  padding: 0;
  background: url('wallpaperbetter.jpg');
  background-size:2000px 1000px;
  background-position: center;
  font-family: sans-serif;
}
.input-container{
  position:relative;
}
.input-container label{
  position:absolute;
  top:35%;
  left:35px;
  transform:translateY(-50%);
  padding: 0 0.4rem;
  color: rgb(255, 255, 255);
  font-size:0.9rem;
  font-weight:400;
  pointer-events:none;
  z-index:1000;
  transition:0.2s;
}
.input-container span{
  position:absolute;
  top:0;
  left:25px;
  transform:translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events:none;
  z-index:500;
}
.input-container span:before,
.input-container span:after {
  content:"";
  position: absolute;
  width:10%;
  opacity:0;
  transition: .2s;
  height: 5px;
  background-color:rgb(0, 0, 0);
  top:50%;
  transform:translateY(-50%);
}
.input-container span:before{
  left:50%;
}
.input-container span:after{
  right:50%;
}
.input-container.focus label{
  top:0;
  transform:translateY(-50%);
  left:25px;
  font-size:0.8rem;
}
.input-container.focus span:before,
.input-container.focus span:after{
  width:50%;
  opacity:1;
}
.signupbox {
  width: 360px;
  height: 600;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 26px;
  font-family: 'Arial', Verdana, sans-serif;
}
.signupbox p,
label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Arial', Verdana, sans-serif;
  text-align: left;
}
.signupbox input {
  width: 100%;
  margin-bottom: 20px;
}
.signupbox input {
  width: 100%;
  margin-bottom: 20px;
}
.signupbox input[type='text'],
[type='password'],
[type='email'] {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(255, 255, 255);
  text-align: left;
}
.signupbox input[type='checkbox'] {
  width: 10%;
  height: 18px;
  color: #fff;

  text-align: left;
}
.signupbox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #f8dd44;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  font-family: 'Times New Roman', Georgia, serif;
}
.signupbox input[type='submit']:hover {
  cursor: pointer;
  background: #5e4700;
  color: #000;
}
.signupbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 8px;
  color: darkgray;
  font-family: 'Times New Roman', Georgia, serif;
  text-align: center;
  display: block;
}
.signupbox a:hover {
  color: #ecb50d;
}