*{
  font-family: 'Inter', sans-serif;
}
.element1 {
  width: 1400px;
  height: 600px;
  background: lightyellow;
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  clear: both;
}
.picture1 {
  width: 700px;
  height: 600px;
  float: left;
}
.element1 h1 {
  font-size: 50pt;
}
.element1 p {
  font-size: 20pt;
  line-height: 3;
}
.element2 {
  width: 1400px;
  height: 600px;
  background: lightcyan;
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  clear: both;
}
.picture2 {
  width: 700px;
  height: 600px;
  float: right;
  margin-left: 30px;
}
.element2 h1 {
  font-size: 50pt;
}
.element2 p {
  font-size: 20pt;
  line-height: 3;
  margin-left: 40px;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
}
a:before {
  content: "";
  position: absolute;
  background-color: orange;
  height: 2px;
  width: 0;
  bottom: 0;
  transition: 0.7s;
}
a:hover:before {
  width: 100%;
}
a:after {
  content: "";
  position: absolute;
  background-color: orange;
  height: 2px;
  width: 0;
  bottom: 0;
  transition: 0.7s;
}
a:hover:before {
  width: 100%;
}
.text {
  text-align: center;
}
