@keyframes load-main-section {
	0% {
		transform: translateY(100vh);
		background-color: black;
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes repaint-section {
	0% {
		background-color: black;
	}
	100% {
		background-color: white;
	}
}

@keyframes show-circle-helper {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes helper-circle-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes helper-circle-text-bounce {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.8);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes letter-adjustment-right {
	0% {
		letter-spacing: 20px;
		transform: translateX(210px);
	}
	100% {
		letter-spacing: 5px;
		transform: translateX(165px);
	}
}
@keyframes letter-adjustment-mid {
	0% {
		letter-spacing: 20px;
	}
	100% {
		letter-spacing: 5px;
	}
}
@keyframes letter-adjustment-left {
	0% {
		letter-spacing: 20px;
		transform: translateX(-320px);
	}
	100% {
		letter-spacing: 5px;
		transform: translateX(-240px);
	}
}

@keyframes title-position-up {
	100% {
		top: 75px;
		transform: scale(0.8);
	}
}

@keyframes untransparent {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes helper-path-animation {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes show-arrow-helper {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	10% {
		transform: translateY(10px);
		opacity: 1;
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	30% {
		transform: translateY(-10px);
		opacity: 1;
	}
	40% {
		transform: translateY(0px);
		opacity: 0;
	}
	50% {
		transform: translateY(10px);
		opacity: 0;
	}
	60% {
		transform: translateY(0px);
		opacity: 0;
	}
	70% {
		transform: translateY(-10px);
		opacity: 0;
	}
	80% {
		transform: translateY(0px);
		opacity: 0;
	}
	90% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		z-index: 1000;
	}
	90% {
		z-index: 1000;
		opacity: 0;
	}
	100% {
		z-index: -2;
		opacity: 0;
	}
}

@keyframes marquee1 {
	0% {
		transform: translateX(-105vw);
	}
	100% {
		transform: translateX(0vw);
	}
}
@keyframes marquee2 {
	0% {
		transform: translateX(105vw);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes marquee3 {
	0% {
		transform: translateX(-155vw);
	}
	100% {
		transform: translateX(-100vw);
	}
}

@keyframes marquee-text {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes marquee-text-reverse {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
@keyframes revealNav {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(calc(0px + 2rem));
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
