@import './keyframes.scss';

.main-section {
	height: 300vh;
	background-color: black;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
	z-index: 500;
	transform: translateY(100vh);
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
}
.load {
	animation: load-main-section 1.5s cubic-bezier(0.17, 0.76, 0.85, -0.59) forwards,
		repaint-section 1s linear 1.5s forwards;
}
