@import './keyframes.scss';

a {
	text-decoration: none;
}
//container
.main-section {
	height: 100vh;
	background: url(../../assets/jpeg/louvre.jpeg) no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
	z-index: 500;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	min-width: 1000px;
	overflow: hidden;
	
}
.background-water {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../../assets/png/louvreWater.png) no-repeat;
	background-size: cover;
	filter: url('#turbulence');
}

// Preloading
.cover {
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #242424;
	animation: fadeOut 2s linear 2s forwards;
	position: absolute;
	top: 0;
	left: 0;
}
.load {
	animation: load-main-section 1.5s cubic-bezier(0.17, 0.76, 0.85, -0.59) forwards,
		repaint-section 1s linear 1.5s forwards;
}

// navigation
nav {
	position: fixed;
	top: 1.6rem;
	right: 3.2rem;
	border-radius: 5px;
	transform: translateY(-200px);
	background-color: black;
	animation: revealNav 0.5s ease-in 3s forwards;
	padding: 0;

	ul {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;

	}
	li {
		font-size: 1.2em;
		font-weight: 300;
		background: none;
		color: black;
		list-style: none;
		.navContainer {
			position: relative;
			height: 40px;
			width: 90px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			color: white;
			transition: color 0.5s ease;
			cursor: pointer;

			.mask {
				position: absolute;
				height: 0%;
				width: 80px;
				transition: all 0.5s ease;
				border-radius: 50%;
				top: -40px;
				z-index: -1;
			}
			&:hover {
				.mask {
					height: 80px;
				}
				.fav {
					color: black;
				}
			}
		}
		i {
			margin-right: 4px;
		}
		.fav {
			transition: color 0.5s ease;
		}
	}
}

.mask-fav {
	background-color: white;
}
.mask-profile {
	background-color: rgb(5, 21, 167);
}
.mask-logout {
	background-color: rgb(241, 40, 40);
}
// navigation end

//content-list
.content-list {
	z-index: 501;
	position: absolute;
	top: 30%;
	left: 60px;
	opacity: 0;
	animation: fadeIn 0.5s ease 3s forwards;

	li {
		list-style: none;
		position: relative;
		color: white;
		margin-bottom: 48px;
		height: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		&:active {
			animation: none;
			animation-play-state: paused;
			.clipText {
				transform: scale(0.8);
			}
			.content-name {
				transform: scale(0.8);
			}
		}

		&:hover {
			.highlight {
				width: 110%;
			}
			animation: pulse 1s ease 2s infinite;
			.content-name {
				// transform: scale(1.2);

				clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
			}
		}
		// .clipText:hover ~ .content-name{
		// 	clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0%);
		// }
	}
}

.content-name {
	font-size: 5rem;
	font-weight: bold;
	// position: absolute;
	left: 20%;
	transition: all 0.5s ease;
	cursor: pointer;
	z-index: 2;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	z-index: 3;
}
.highlight {
	position: absolute;
	z-index: -1;
	bottom: -1rem;
	left: -5%;
	width: 0%;
	transition: all 0.3s ease;
	height: 2rem;
}
.highlight :nth-child(1) {
	height: 33.3333%;
	background-color: blue;
	width: 100%;
}
.highlight :nth-child(2) {
	height: 33.3333%;
	background-color: white;
	width: 100%;
}
.highlight :nth-child(3) {
	height: 33.3333%;
	background-color: red;
	width: 100%;
}

.clipText {
	font-size: 5rem;
	font-weight: bold;
	position: absolute;
	transition: transform 0.5s ease;
	cursor: pointer;
	color: #121212;
}
